* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

button:focus {
  outline: none;
}

header {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
  background: #00329e;
}

header h1 {
  margin: 0;
  color: white;
  font-size: 1.5rem;
}

header button {
  font: inherit;
  padding: 0.5rem 1rem;
  background: #f67722;
  border: 1px solid #f67722;
  color: white;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

/* Changes ADD MOVIE button color when you hover over it */
header button:hover,
header button:active {
  background: #f3cc4b;
  border-color: #f3cc4b;
  color: #995200;
}

label {
  font-weight: bold;
  margin: 0.5rem 0;
  color: #464646;
}

input {
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.4rem 0.2rem;
  color: #383838;
}

input:focus {
  outline: none;
  background: #fff1c4;
}



.logo {
  width: 8rem;
}

.btn:hover,
.btn:active {
  background: #f67722;
  border-color: #f67722;
}

.btn.btn-outline-primary:hover,
.btn.btn-outline-primary:active {
  border-color: #f67722;
  background-color: inherit;
  color: #f67722;
}


.customemodal {
  position: fixed;
  z-index: 100;
  background: white;
  border-radius: 10px;
  width: 80%;
  top: 30vh;
  left: 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: none;
}

/* we write a function to toggle the addMovieModal with #id add-modal to have the class 'visible' */
.customemodal.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.customemodal .modal__title {
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid #00329e;
  background: #00329e;
  color: white;
  border-radius: 10px 10px 0 0;
}

.customemodal .modal__content {
  padding: 1rem;
}

.customemodal .modal__actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

#request-modal .modal__content {
  display: flex;
  flex-direction: column;
  height: auto;
}
#account-modal .modal__content {
  display: flex;
  flex-direction: column;
  height: auto;
}

/* The @media rule restricts all images to a specific size.
Example of @media rule: 
https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_media_bg */
@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

/* The @keyframes CSS at-rule controls the intermediate steps 
in a CSS animation sequence by defining styles for keyframes 
(or waypoints) along the animation sequence. */
@keyframes fade-slide-in {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0);
  }
}