


button {
    background-color: #061c63;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;

  }

  button:hover {
    opacity: 0.8;
  }

label {
    font-size: 16px;
}

form {
    border: 3px solid #f1f1f1;
  }

  
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 14px;
  }
  
/*******CLASS SELECTORS******/

.top-container {
    height: 15vh;
    margin-bottom: 10px;
    
}

.night-div{
    height: 88vh;
}

.night{
    width: 100%;
    height: auto;
}

.beach {
    height: 490px;
    background-color: #06283D;  
}

.beach-img {
    width: 1246px;
    height: 490px;
    opacity: 0.7;
    display: inline-block;
    
}
.beach-img {
    position: relative;
}


.logo-square {
    height: 122px;
    width: 150px;
    position: relative;
    top: 2px;
    left: 25px;
}

.registration {
     width: 25%;
    
    text-align: center;
    position: relative;
    bottom: 5%;
    left: 40%;
    position: absolute;
    background-color: #ECECEC;

}
.login {
    width: 25%;
    height:300px;
    text-align: center;
    position: relative;
    bottom: 445px;
    left: 463px;
    background-color: #ECECEC;
}

.login {
    width: 25%;
    height:330px;
    text-align: center;
    position: absolute;
    bottom: 15%;
    left: 40%;
    background-color: #ECECEC;
}
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: red;
}

.imgcontainer{
    background-color: #ECECEC;
    position: relative;
    text-align: center;
    margin: 10px 0 6px 0;
}

img.avatar {
    width: 20%;
    border-radius: 50%;
    }

.container {
    background-color: #ECECEC;
    padding: 12px;
}

span.psw {
    float: right;
    padding-top: 16px;
  }
 
  .title {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 22px;
    color: #090605;
    margin-left: 38px;
    
  }