
button {
    background-color: #061c63;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    opacity: 0.8;
  }
  
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  label {
    font-weight: bold;
    margin: 0.5rem 0;
    color: #464646;
  }
/*******CLASS SELECTORS******/

.top-container {
    height: 15vh;
    background-color: #ECECEC;
    margin-bottom: 10px;
    
}

.beach {
	width: 100%;
    height: 88vh;
    position: relative;
    margin-right: 2px;
    text-align: center;
     
}

.beach-img {
    width: 100%;
    height: 80vh; 
    margin-right: 2px; 
    
}

.logo-square {
    height: 122px;
    width: 150px;
    position: relative;
    left: 25px;
    z-index: 1000;
    border: 1px solid white;
}

.login {
    width: 20%;
    height:auto;
    text-align: center;
    position: absolute;
    bottom: 35%;
    left: 40%;
    background-color: #ECECEC;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: red;
}

.imgcontainer{
    background-color: #ECECEC;
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 20%;
    border-radius: 50%;
    }

.container {
    background-color: #ECECEC;
    padding: 16px;
}

span.psw {
    padding-top: 16px;
  }
 
 .title {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 22px;
    color: #F15412;
    margin-left: 40px;
    
  }

  